<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tarefário</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Bem vindo ao seu controlador de Tarefas</h1>

            <div class="row" style="margin-top: 50px;">
                <div class="col-4"></div>
                <div class="col-4">
                    <img src="~/images/gestao_tarefas.png" width="400px;" />
                </div>
                <div class="col-4"></div>
            </div>

            
            
            <div>
            </div>

        </div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>
