@model IEnumerable<Projeto.Models.Task>

@{
    ViewData["Title"] = "Listas de Tarefas";
}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8">				
	<title>TAREFÁRIO</title>
    <link rel="shortcut icon" href="~/images/favicon.ico"/>

	<link type="text/css" rel="stylesheet" href="~/css/cards.css">

    <link type="text/css" rel="stylesheet" href="~/css/ChewyFont.css"/>

    <h1 style="color:rgb(255, 0, 0);font-family:Chewy;font-size: 40px;">TAREFÁRIO</h1>
    <h2 style="color:rgb(0, 0, 0);font-family:Chewy;font-size: 30px;">Lista de tarefas</h2>

    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src = "~/js/cards.js" ></script>
</head>

<body>
    <div id="controls">
        <img id="btnNew" src="~/images/newnote.png" />
    </div>

    <button id="btnSaveData">Salvar Alterações</button>

    <ul id="cards" />
</body>
