@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao seu controlador de Tarefas</h1>

    <div class="row" style="margin-top: 50px;">
        <div class="col-4"></div>
        <div class="col-4">
            <img src="~/images/gestao_tarefas.png" width="400px;" />
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-4"></div>
        <div class="col-4 btn-cadastrar-user">
            <a style="text-decoration: none; color: white; font-weight: bold;" asp-area="" asp-controller="Users" asp-action="Index">Criar Usuário</a>
        </div>
        <div class="col-4"></div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-4"></div>
        <div class="col-4 btn-entrar-user">
            <a style="text-decoration: none; color: white; font-weight: bold;" asp-area="" asp-controller="Login" asp-action="Login">Entrar</a>
        </div>
        <div class="col-4"></div>
    </div>
    <div>
        
    </div>
    
</div>
